extends layout

block content
 h1= title
 p Welcome to #{title} #{gpiostate}
 #container-fluid
  .row
   .col(style="width:35%")
   .col
    .card.card-primary(style="max-width:250px")
     .card-header #[strong Relay Action ]
     .card-body 
      a(class="btn btn-primary" href="/relay/2/0") Power On 
      | &nbsp;
      a(class="btn btn-primary" href="/relay/2/1") Power Off 
    .card.card-primary(style="max-width:250px")
     .card-header #[strong Environmentals]
     .card-body 
      p(style='white-space:pre;')
       | #[strong Temperature:] #{temperature}ºC
       | #[strong Humidity:] #{humidity}%
   .col(style="width:35%")
   